<!-- Distribution -->
<div class="tab-pane fade" id="distribution-tab-pane" role="tabpanel" aria-labelledby="distribution-tab" tabindex="0">
  <div class="mb-3">Outputs doots leaderboard distribution data</div>
  <pre class="mb-3 ps-0">
    <code id="distributionOutput"></code>
  </pre>
  <a id="downloadQualifiers" class="btn btn-light mt-2">Download Qualifiers</a>
</div>


<script type="text/javascript">
  let distribution = {};
  let qualifiers = {
    "Guild Participant": [],
    "Guild Bronze": [],
    "Guild Silver": [],
    "Guild Gold": [],
    "Guild Platinum": [],
  }
  let tiers = {
    "Guild Participant": 1,
    "Guild Bronze": 5,
    "Guild Silver": 20,
    "Guild Gold": 50,
    "Guild Platinum": 100,
  }
  let tiersArr = [1,5,20,50,100];
  tiersArr.reverse();

  leaderboard.forEach(user => {

    for (const [key, value] of Object.entries(tiers)) {
      if (user["doots"] >= value) {
        qualifiers[key].push(user["username"])
        let title = `${key} ${value}+`;
        distribution[title] = (distribution[title] || 0) + 1;
      }
    }

    tiersArr.some(function(value) {
      if (value == 1 && user["doots"] == value) {
        let title = `${value}`;
        distribution[title] = (distribution[title] || 0) + 1;
        return true;
      } else if (value != 1 && user["doots"] >= value) {
        let title = `${value}`;
        distribution[title] = (distribution[title] || 0) + 1;
        return true;
      }
    });

  });
  let output = JSON.stringify(distribution, undefined, 6).replace("}", "    }");
  document.getElementById("distributionOutput").innerText = output;
  console.log(distribution);
  console.log(qualifiers);

  // var jsonData = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(qualifiers, null, 2));
  // var dlAnchorElem = document.getElementById('downloadAnchorElem');
  // dlAnchorElem.setAttribute("href",     jsonData     );
  // dlAnchorElem.setAttribute("download", "scene.json");
  // dlAnchorElem.click();

  const blob = new Blob([JSON.stringify(qualifiers, null, 2)], { type: "text/json" });
  const downloadLink = document.getElementById("downloadQualifiers");
  downloadLink.download = "qualifiers.json";
  downloadLink.href = window.URL.createObjectURL(blob);
  downloadLink.dataset.downloadurl = ["text/json", downloadLink.download, downloadLink.href].join(":");

  // const evt = new MouseEvent("click", {
  //     view: window,
  //     bubbles: true,
  //     cancelable: true,
  // });
  // downloadLink.dispatchEvent(evt);
  // downloadLink.remove()
</script>
