<!-- Distribution -->
<div class="tab-pane fade" id="distribution-tab-pane" role="tabpanel" aria-labelledby="distribution-tab" tabindex="0">
  <div class="mb-3">Outputs doots leaderboard distribution data</div>
  <pre class="mb-3">
    <code id="distributionOutput">
    </code>
  </pre>
</div>


<script type="text/javascript">
  let distribution = {
    // "1": 0,
    // "2-9": 0,
    // "10-19": 0,
    // "20-29": 0,
    // "30-39": 0,
    // "40-49": 0,
    // "50-59": 0,
    // "60-69": 0,
    // "70-79": 0,
    // "80-89": 0,
    // "90-99": 0,
    // "100+": 0,
  };
  leaderboard.forEach(user => {
    if (user["doots"] == 1) {
      distribution["1"] = (distribution["1"] || 0) + 1;
    } else if (user["doots"] < 10) {
      distribution["2-9"] = (distribution["2-9"] || 0) + 1;
      if (user["doots"] == 2) {
        distribution["2"] = (distribution["2"] || 0) + 1;
      } else if (user["doots"] == 3) {
        distribution["3"] = (distribution["3"] || 0) + 1;
      } else if (user["doots"] == 4) {
        distribution["4"] = (distribution["4"] || 0) + 1;
      } else if (user["doots"] == 5) {
        distribution["5"] = (distribution["5"] || 0) + 1;
      } else if (user["doots"] == 6) {
        distribution["6"] = (distribution["6"] || 0) + 1;
      } else if (user["doots"] == 7) {
        distribution["7"] = (distribution["7"] || 0) + 1;
      } else if (user["doots"] == 8) {
        distribution["8"] = (distribution["8"] || 0) + 1;
      } else if (user["doots"] == 9) {
        distribution["9"] = (distribution["9"] || 0) + 1;
      }
    } else if (user["doots"] < 20) {
      distribution["10-19"] = (distribution["10-19"] || 0) + 1;
      if (user["doots"] == 10) {
        distribution["10"] = (distribution["10"] || 0) + 1;
      } else if (user["doots"] == 11) {
        distribution["11"] = (distribution["11"] || 0) + 1;
      } else if (user["doots"] == 12) {
        distribution["12"] = (distribution["12"] || 0) + 1;
      } else if (user["doots"] == 13) {
        distribution["13"] = (distribution["13"] || 0) + 1;
      } else if (user["doots"] == 14) {
        distribution["14"] = (distribution["14"] || 0) + 1;
      } else if (user["doots"] == 15) {
        distribution["15"] = (distribution["15"] || 0) + 1;
      } else if (user["doots"] == 16) {
        distribution["16"] = (distribution["16"] || 0) + 1;
      } else if (user["doots"] == 17) {
        distribution["17"] = (distribution["17"] || 0) + 1;
      } else if (user["doots"] == 18) {
        distribution["18"] = (distribution["18"] || 0) + 1;
      } else if (user["doots"] == 19) {
        distribution["19"] = (distribution["19"] || 0) + 1;
      }
    } else if (user["doots"] < 30) {
      distribution["20-29"] = (distribution["20-29"] || 0) + 1;
    } else if (user["doots"] < 40) {
      distribution["30-39"] = (distribution["30-39"] || 0) + 1;
    } else if (user["doots"] < 50) {
      distribution["40-49"] = (distribution["40-49"] || 0) + 1;
    } else if (user["doots"] < 60) {
      distribution["50-59"] = (distribution["50-59"] || 0) + 1;
    } else if (user["doots"] < 70) {
      distribution["60-69"] = (distribution["60-69"] || 0) + 1;
    } else if (user["doots"] < 80) {
      distribution["70-79"] = (distribution["70-79"] || 0) + 1;
    } else if (user["doots"] < 90) {
      distribution["80-89"] = (distribution["80-89"] || 0) + 1;
    } else if (user["doots"] < 100) {
      distribution["90-99"] = (distribution["90-99"] || 0) + 1;
    } else {
      distribution["100+"] = (distribution["100+"] || 0) + 1;
    }
  });
  document.getElementById("distributionOutput").innerHTML = JSON.stringify(distribution);
  console.log(distribution);
</script>
