<!-- Analysis -->
<div class="tab-pane fade" id="analysis-tab-pane" role="tabpanel" aria-labelledby="analysis-tab" tabindex="0">
  <div class="mb-3">Run arbitrary code to analize doots leaderboard data</div>
  <pre>
    <code>
    const leaderboard = [
      {
        "username": "superphiz",
        "doots": 219,
        "rank": 1
      },
      ....
    ]
    </code>
  </pre>
  <div class="mb-3">
    <textarea id="codeInput" class="form-control font-monospace px-4 py-3" style="font-size:0.875em;" rows="10" placeholder="Code to execute...."></textarea>
  </div>
  <button type="button" class="btn btn-light" onclick="executeCode()">Execute</button>
</div>


<script type="text/javascript">
  function executeCode() {
    try {
      eval(document.getElementById("codeInput").value);
    } catch (error) {
      console.error("Error executing code:", error);
      alert("Error: " + error.message);
    }
  }
</script>
