<!-- This template is not being used -->

<!-- Weekly -->
<div class="tab-pane fade" id="weekly-tab-pane" role="tabpanel" aria-labelledby="weekly-tab" tabindex="0">
  
  <div class="doot">
    <div class="mb-2">
      <label for="title1" class="form-label">Title</label>
      <input type="text" class="form-control doot-title" id="title1">
    </div>
    <div class="mb-2">
      <label for="link1" class="form-label">Link</label>
      <input type="text" class="form-control doot-link" id="link1">
    </div>
    <div class="mb-2">
      <label for="comment1" class="form-label">Comment</label>
      <textarea class="form-control" id="comment1" rows="4" style="font-size:0.85rem;"></textarea>
    </div>
    <hr class="my-5">
  </div>

  <div class="doot">
    <div class="mb-2">
      <label for="title1" class="form-label">Title</label>
      <input type="text" class="form-control doot-title" id="title1">
    </div>
    <div class="mb-2">
      <label for="link1" class="form-label">Link 1</label>
      <input type="text" class="form-control doot-link" id="link1">
    </div>
    <div class="mb-2">
      <label for="comment1" class="form-label">Comment 1</label>
      <textarea class="form-control" id="comment1" rows="4" style="font-size:0.85rem;"></textarea>
    </div>
    <div class="mb-2">
      <label for="link1" class="form-label">Link 2</label>
      <input type="text" class="form-control doot-link" id="link1">
    </div>
    <div class="mb-2">
      <label for="comment1" class="form-label">Comment 2</label>
      <textarea class="form-control" id="comment1" rows="4" style="font-size:0.85rem;"></textarea>
    </div>
    <hr class="my-5">
  </div>
</div>